@media ( max-width: 769px ){
    .main-app-component{
        flex-direction:column;
        margin:0;
        padding: 0;
        }
        .principal{
            margin: 0;
            padding: 0;
            justify-items: center;
            gap: 1px;
        }

        .principal1{
            height: 40rem;
        }

        .principal2{ 

            border: 1px solid black;
           
        } 

        .glosario{
            display: grid;
            justify-content: center;
            align-items: center;
        }

        .principal1, .principal2, .glosario{
            margin: 0;
            padding: 0;
        }

}


@media ( min-width: 769px ){
    .main-app-component{
        flex-direction:column;
        margin:0;
        padding: 0;
        border:5px solid  pink;
        }
        .principal{
            margin: 0;
            padding: 0;
            display:grid;
            grid-template-columns: auto auto;
            justify-items: center;
            gap: 1vw;
        }
        .principal1, .principal2{
            margin: 0;
            padding: 0;
        }

}