html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-app-component{
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.principal{
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
}

.glosario{
  margin: 0;
  padding: 0;
}





