
     <app-header></app-header>


    <main class="main-app-component">
       
        <section class="principal">

            <section class="principal1">
                <app-word-of-day></app-word-of-day>
                
            </section>

            <section class="principal2">
                <app-ranking></app-ranking>
            </section>

        </section>
        
        <section class="valor">
            <app-rating-app></app-rating-app>
        </section>
    

        <section class="glosario">
            <app-favoritos></app-favoritos>
        </section>
    </main>

    <app-footer></app-footer>



