//MOBILE FIRST
@media (max-width:750px){
#ranking-card{
  background: white;
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px;
  width: 90vw;;
  box-shadow: 0 4px 8px rgba(4,0,0,1.7);

}
#titulo-card{
  margin-bottom: 15px;
}
}

// TABLET 
@media (min-width:751px) and (max-width:1250px){
  #ranking-card{
    background: white;
    margin-top: 2rem;
    padding: 5px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(4,0,0,1.7);
  }

  :host {
    display: block;
    animation: fadeIn 1s ease-in;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #titulo-card{
    margin-bottom: 15px;
  }
  }

// DESKTOP
  @media (min-width:1251px){
    #ranking-card{
      background: white;
      margin-top: 2rem;
      padding: 0;
    }
    #titulo-card{
      margin-bottom: 15px;
    }
    }