


<main>
    <div class="thmo-contenedor">
    <section class="word-card">
      <h2>{{ palabraActual.palabra }}</h2>
      <br/>
      <p class="definition">{{ palabraActual.definicion }}</p>
      <br/>
      <p class="example">Ej: “{{ palabraActual.ejemplo }}”</p>
      <br/>
      <button (click)="guardarFavorito()" *ngIf="isLogged">⭐ Guardar favorito</button>
      <button (click)="compartirAforismo()">📋 Compartir aforismo</button>
      <button (click)="compartirEnWhatsApp()">📱 Compartir en WhatsApp</button>

      <mat-card-actions *ngIf="isLogged">
        <button mat-button color="primary" (click)="cambiarPalabraAleatoria()">🔄 Otra palabra</button>
        <button *ngIf="palabraActual.palabra !== palabraHoy.palabra" color="accent" (click)="volverPalabraHoy()">🔙 Volver a la palabra del día</button>
      </mat-card-actions> 
      
    </section>

    <!--<button (click)="reproducirAudio()">🔊 Escuchar</button>--> 
    
    </div>


  </main>
  
