

  <mat-card class="word-card">
    <mat-card-header class="zona-header" >
      <mat-card-title  class="caja-header">
        <h2 class="titulo-card">" {{ palabraActual.palabra }} "</h2>
      </mat-card-title>
    </mat-card-header>
    <div class="scroll-area">
    <mat-card-content class="zona-body">
      <div mat-card id="layout-card">
        <p class="definicion-card">" <img width="15" height="15" src="https://img.icons8.com/ios/15/hand-right.png"
            alt="hand-right" /> {{ palabraActual.definicion }} {{ palabraActual.definicion }} "</p>
      </div>
          <div id="layout-card" class="ejemplo-card">
      <p class="example">Ej: “ {{palabraActual.ejemplo }} ”</p>
    </div>
    </mat-card-content>
  </div>

    <mat-card-footer class="zona-footer">
        <mat-card-actions id="layout-card" class="btn-card">
          <button  id="btn" mat-button (click)="guardarFavorito()" *ngIf="isLogged"><img width="29" height="29"
              src="https://img.icons8.com/fluency/29/star--v1.png" alt="star--v1" /></button>
          <button id="btn"  mat-button (click)="compartirAforismo()"><img width="29" height="29"
              src="https://img.icons8.com/office/29/making-notes.png" alt="making-notes" /></button>
          <button id="btn"  mat-button (click)="compartirEnWhatsApp()"><img src="assets/logo-what-small3.png" alt="logo"></button>

          <mat-card-actions *ngIf="isLogged">
            <button id="btn" mat-button color="primary" (click)="cambiarPalabraAleatoria()"><img width="29" height="29"
                src="https://img.icons8.com/windows/29/refresh.png" alt="refresh" /></button>
            <button id="btn" mat-button *ngIf="palabraActual.palabra !== palabraHoy.palabra" color="accent"
              (click)="volverPalabraHoy()"><img width="29" height="29" src="https://img.icons8.com/android/29/return.png"
                alt="return" /></button>
          </mat-card-actions>
         </mat-card-actions>
    </mat-card-footer>
  </mat-card>

  <!--<button (click)="reproducirAudio()">🔊 Escuchar</button>-->