<div class="footer">
    <p id="titulo-footer">Andalucísmos cada día</p>
    <div class="social-media">
        <a class="media" href="https://twitter.com/andalucismo" target="_blank"><img width="50" height="50" src="https://img.icons8.com/fluency/30/twitterx--v1.png" alt="twitterx--v1"/></a>
        <a class="media" href="https://www.instagram.com/andaluci_thmo/" target="_blank"><img width="50" height="50" src="https://img.icons8.com/fluency/30/instagram-new.png" alt="instagram-new"/></a>
    </div>
    <br/>
    <p style="margin-bottom: 15px;">&copy; 2023 Andalucismo. Todos los derechos reservados.</p>
</div>