<div class="footer">
    <p>Un thmo nuevo cada día 🌞</p>
    <div class="social-media">
        <a class="media" href="https://twitter.com/andalucismo" target="_blank"><img width="30" height="30" src="https://img.icons8.com/fluency/30/twitterx--v1.png" alt="twitterx--v1"/></a>
        <a class="media" href="https://www.instagram.com/andalucismo/" target="_blank"><img width="30" height="30" src="https://img.icons8.com/fluency/30/instagram-new.png" alt="instagram-new"/></a>
    </div>
    <br/>
    <p>&copy; 2023 Andalucismo. Todos los derechos reservados.</p>
</div>