.fav{
    border: 1px solid #000;
    margin: 0;
    padding:0;
    width: 250px;
    height: 30px;
    margin-top: 0px;
}

.favoritos-grid{
    color: aliceblue;
}

.favoritos-list-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .favoritos-grid {
    color:antiquewhite;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    width: 100%;
    max-width: 900px;
    margin-top: 1rem;
    padding: 1rem;
  }
  
  .favorito-card {
    padding: 1rem;
  }
  